---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getCollection, getEntry } from "astro:content";
import MarkdownContent from "../components/MarkdownContent.astro";
import pkg from "lodash";

const { sortBy } = pkg;
const introMd = await getEntry("markDown", "intro");
const { Content: IntroContent } = await introMd.render();
const blogs = sortBy(
  await getCollection("blog", ({ data }) => data.status === "published"),
  (blog) => blog.data.publishedDate,
).reverse();
const projects = await getCollection("projects");

const toDate = (dateString: Date) => {
  const date = new Date(dateString);
  return date.toLocaleDateString("en-GB", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
};
---

<DefaultLayout>
  <div class="relative max-w-6xl mx-auto px-5 h-full pt-24 md:py-24">
    <section class="mb-1 items-center flex">
      <MarkdownContent size="lg:prose-2xl" content={IntroContent} />
    </section>
    <hr class="mt-12 mb-10" />
    <h2 class="font-bold text-2xl" id="posts">Posts:</h2>
    <br />
    <ul class="space-y-4">
      {
        blogs.map((blogPostEntry) => (
          <li class="md:flex w-full justify-between">
            <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
            <br />
            <time class="italic" datetime={blogPostEntry.data.publishedDate.toISOString()}>
              {toDate(blogPostEntry.data.publishedDate)}
            </time>
          </li>
        ))
      }
    </ul>
    <hr class="mt-12 mb-10" />
    <h2 class="font-bold text-2xl" id="projects">Projects:</h2>
    <br />
    <ul class="space-y-4">
      {
        projects.map((project) => (
          <li class="flex w-full justify-between">
            <a target="_blank" href={`${project.data.website}`}>
              {project.data.name} - {project.data.tagLine}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</DefaultLayout>
